<div id="action-feedback">
	<div id="action-feedback-msg">
		<h2 id="action-feedback-msg-header" style="margin: none; text-transform: capitalize;">type</h2>
		<p id="action-feedback-msg-text">message</p>
	</div>
	<div id="action-feedback-close" onclick='closeFeedback()'>
		<span>&#x2715;</span>
	</div>
</div>
