/*The group CSS file that all of us will use.
  This will be used to format the headers and footers, as well the general design of the site.*/

.header {
    display: table;
    width: 100%;
    table-layout: fixed;
    
}
.header > div {
    display: table-cell;
    background:red
}
/*.left {
    /*background: red;
}*/
.middle {
    text-align: center;
    width: 500px;
}

.right > button{
    position: absolute;
    right: 0;
    top: 0;
}

.footer {
    text-align: center;
    position:absolute;
    bottom: 0;
    width:100%;
    height: 2.5rem;
}