<!DOCTYPE html>
<html lang="en">
<head>
	<title>Radio Station - DJ</title>
    <%- include('../partials/head'); %>
	<script src="js/DJdummyPlaylistUpdated.js"></script>
	<script src="js/DJUpdated.js"></script>
	<style>
		.timeslot,
		.songslot {
			border: 1px solid #d3d3d3;
			background-color: #f3f2f2;
			height: 50px;
			width: 100%;
			text-align: center;
		}

		.timeslot:hover,
		.songslot:hover,
		.editbutton:hover,
		.cancelbutton:hover,
		.savebutton:hover {
			background-color: #888888;
		}

		.timeslot:active,
		.editbutton:active,
		.cancelbutton:active,
		.savebutton:active {
			background-color: #ffffff;
		}
	</style>
</head>

<body>
	<header>
		<%- include('../partials/header'); %>
	</header>
	<nav>
		<%- include('../partials/nav'); %>
	</nav>
	<main>
		<section id="time-slots">
			<span>Good morning, Alex Turner.</span>
			<div class="section-header">
				<h1>Assigned Time Slots</h1>
				<div class="section-header-forms">
					<label for="date">Date:</label>
					<input type="date" id="date" name="date">
				</div>
			</div>
			<div class="section-wrapper">
			</div>
		</section>

		<section id="song-slots">
			<!-- Anything above header -->
			<span>&nbsp;</span>
			<div class="section-header">
				<h1>Playlist for Selected Time</h1>
				<div class="section-header-forms">
					<button type="button" id="editbutton">Edit Playlist</button>
				</div>
			</div>
			<div class="section-wrapper">
			</div>
		</section>

	</main>
	<footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>